In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler,LabelEncoder
from sklearn.impute import SimpleImputer

In [5]:
df  = pd.read_csv(r"C:\Users\rajad\Downloads\train.csv")

In [12]:
df = df.drop(['Loan_ID'],axis=1)

In [15]:
df.nunique()

Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

In [24]:
rows = len(df.axes[0])
col = len(df.axes[1])

In [29]:
#Create A Copy
new_df = df.copy()

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 57.7+ KB

In [42]:
new_df[new_df.duplicated()]

Empty DataFrame
Columns: [Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status]
Index: []

In [43]:
test_df = df.iloc[500:]

In [44]:
test_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
500,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
501,Female,No,0,Graduate,No,3159,0.0,100.0,360.0,1.0,Semiurban,Y
502,Male,Yes,2,Graduate,No,4865,5624.0,208.0,360.0,1.0,Semiurban,Y
503,Male,Yes,1,Not Graduate,No,4050,5302.0,138.0,360.0,NaN,Rural,N
504,Male,Yes,0,Not Graduate,No,3814,1483.0,124.0,300.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [45]:
train_df = new_df.iloc[:500]

In [46]:
train_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Female,Yes,1,Graduate,No,3326,913.0,105.0,84.0,1.0,Semiurban,Y
496,Male,Yes,0,Not Graduate,No,2600,1700.0,107.0,360.0,1.0,Rural,Y
497,Male,Yes,0,Graduate,No,4625,2857.0,111.0,12.0,NaN,Urban,Y
498,Male,Yes,1,Graduate,Yes,2895,0.0,95.0,360.0,1.0,Semiurban,Y
499,Male,No,0,Graduate,No,6283,4416.0,209.0,360.0,0.0,Rural,N

In [47]:
test_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
500,Female,No,0,Graduate,No,645,3683.0,113.0,480.0,1.0,Rural,Y
501,Female,No,0,Graduate,No,3159,0.0,100.0,360.0,1.0,Semiurban,Y
502,Male,Yes,2,Graduate,No,4865,5624.0,208.0,360.0,1.0,Semiurban,Y
503,Male,Yes,1,Not Graduate,No,4050,5302.0,138.0,360.0,NaN,Rural,N
504,Male,Yes,0,Not Graduate,No,3814,1483.0,124.0,300.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [48]:
train_df.isna().sum()

Gender                9
Married               3
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
Loan_Status           0
dtype: int64

In [53]:
#Numeric --> Median
#Categorical --> Mode

num_cols = []
cat_cols = []

for i in train_df.columns:
  if train_df[i].dtype == 'object':
    cat_cols.append(i)
  elif train_df[i].dtype == 'int64' or train_df[i].dtype == 'float64':
    num_cols.append(i)

In [54]:
cat_cols

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Loan_Status']

In [55]:
num_cols

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [57]:
df.isna().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [64]:
cat_imputer = SimpleImputer(strategy = 'most_frequent')
cat_imputer.fit(train_df[cat_cols])

train_df[cat_cols] = cat_imputer.transform(train_df[cat_cols])
test_df[cat_cols] = cat_imputer.transform(test_df[cat_cols])

C:\Users\rajad\AppData\Local\Temp\ipykernel_4856\446173718.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[cat_cols] = cat_imputer.transform(train_df[cat_cols])
C:\Users\rajad\AppData\Local\Temp\ipykernel_4856\446173718.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[cat_cols] = cat_imputer.transform(test_df[cat_cols])

In [65]:
test_df.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           4
Loan_Amount_Term     0
Credit_History       9
Property_Area        0
Loan_Status          0
dtype: int64

In [66]:
cat_imputer = SimpleImputer(strategy = 'median')
cat_imputer.fit(train_df[num_cols])

train_df[num_cols] = cat_imputer.transform(train_df[num_cols])
test_df[num_cols] = cat_imputer.transform(test_df[num_cols])

C:\Users\rajad\AppData\Local\Temp\ipykernel_4856\3469411814.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[num_cols] = cat_imputer.transform(train_df[num_cols])
C:\Users\rajad\AppData\Local\Temp\ipykernel_4856\3469411814.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[num_cols] = cat_imputer.transform(test_df[num_cols])

In [69]:
train_df['Applicant_Income'] = train_df['ApplicantIncome'] + train_df['CoapplicantIncome']

test_df['Applicant_Income'] = test_df['ApplicantIncome'] + test_df['CoapplicantIncome']

#Drop

train_df = train_df.drop(['ApplicantIncome'],axis=1)
test_df = test_df.drop(['ApplicantIncome'],axis=1)

train_df = train_df.drop(['CoapplicantIncome'],axis=1)
test_df = test_df.drop(['CoapplicantIncome'],axis=1)

In [72]:
test_df.nunique()

Gender                2
Married               2
Dependents            4
Education             2
Self_Employed         2
LoanAmount           81
Loan_Amount_Term      7
Credit_History        2
Property_Area         3
Loan_Status           2
Applicant_Income    111
dtype: int64

In [75]:
le = LabelEncoder()

for col in cat_cols:
  train_df[col] = le.fit_transform(train_df[col])
  test_df[col] = le.transform(test_df[col])

In [79]:
num_cols.pop(0)
num_cols.pop(0)
num_cols.insert(0,'Applicant_Income')
num_cols

['Applicant_Income', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [104]:
mms = MinMaxScaler()
for col in num_cols:
  train_df[col] = mms.fit_transform(train_df[[col]])
  test_df[col] = mms.transform(test_df[[col]])

#Check Why is it fitting entire dataset

In [107]:
target = train_df['Loan_Status']
train_df  = train_df.drop(['Loan_Status'],axis=1)

test_target = test_df['Loan_Status']
test_df = test_df.drop(['Loan_Status'],axis=1)

In [106]:
test_df

,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Applicant_Income
500,0,0,0,0,0,0.140556,1.000000,1.0,0,1,4328.0
501,0,0,0,0,0,0.121523,0.743590,1.0,1,1,3159.0
502,1,1,2,0,0,0.279649,0.743590,1.0,1,1,10489.0
503,1,1,1,1,0,0.177160,0.743590,1.0,0,0,9352.0
504,1,1,0,1,0,0.156662,0.615385,1.0,1,1,5297.0
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,0.079063,0.743590,1.0,0,1,2900.0
610,1,1,3,0,0,0.033675,0.358974,1.0,0,1,4106.0
611,1,1,1,0,0,0.345534,0.743590,1.0,2,1,8312.0
612,1,1,2,0,0,0.248902,0.743590,1.0,2,1,7583.0
613,0,0,0,0,1,0.169839,0.743590,0.0,1,0,4583.0

In [136]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train_df,target,test_size=0.2)

In [137]:
y_train

169    1
122    1
314    0
394    1
432    1
      ..
231    1
322    1
359    1
464    0
267    1
Name: Loan_Status, Length: 400, dtype: int32

In [138]:
y_test

63     0
416    0
423    0
131    1
309    1
      ..
327    1
366    0
85     1
157    1
404    0
Name: Loan_Status, Length: 100, dtype: int32

In [143]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [145]:
lr.score(x_test,y_test)

0.8